@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
  --color1: #0AB4B5;
}
body{
	width: 100vw;
	height: 100vh;
  margin: 0;
}

    p {
      line-height: 1.8;
	    color: rgba(21, 22, 22, 0.5);
    }

    img {
      max-width: 100%;
	    padding-left: 15%;
      padding-top: 2%;
      box-sizing: border-box;
    
    }

    a {
      color: var(--color1);
      text-decoration: none !important;
    }

    h1,
    h2,
	  h3,
	  h4 {
      font-size: 3rem;
      font-weight: 100;
      margin: 0;
	    color: #0AB4B5;
    }
.post {
  display: grid;
  margin: 5em auto;
  grid-gap: 10px 50px;
  grid-template-columns: 3fr 12fr 5fr;
  box-sizing: border-box;
}

.post>* {
  grid-column: 2 / -2;
}

.post>figure {
  margin: 0;
  grid-column: 1 / -1;

}

figcaption {
  font-size: 10px;
  padding-left: 15%;
  padding-bottom: 2%;
  color: rgba(21, 22, 22, 0.6);
}

.post>blockquote {
  grid-column: 1 / -1;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  margin: 0;
  color: rgba(21, 22, 22, 0.6);
}

.tip {
  background: rgba(222, 246, 250);
  padding: 10px;
  grid-row: span 5;
  align-self:flex-start;
  box-sizing: border-box;

}
.tip-left {
      grid-column: 1 / span 1;
      text-align: right;
      border-right: 2px solid var(--color1);
    }

.tip-right {
    grid-column: span 1 / -1;
    border-left: 2px solid var(--color1);
	  padding-right: 5%;
	  font-size: 1rem;
	  box-sizing: border-box;
    }
	footer{
		text-align: center;
		background-color: rgb(222, 246, 250) ;
		color: rgba(21, 22, 22, 0.6);
		padding-top: 2% ;
		padding-bottom: 2%;
	}